@charset "utf-8";

.wrap {position:relative; width:100%; height:100%;}



/* header */
.headWrap {height:49px; z-index:99999; border-bottom:60px solid #fb444c;}
.head {width:980px; margin:0 auto; position:relative; z-index:99999;}
.head h1 {position:absolute; top:60px; left:0;}
.headerSearch {position:absolute; right:0; top:20px; height:25px;}
.headerSearchBtn {position:absolute; right:6px; top:0; padding:4px;}


.mainLnb { list-style-type: none; margin: 0; padding: 0;  z-index:100; position:absolute; right:0; top:49px;}
.mainLnb li { float: left;  z-index:100;}
.mainLnb .dropbtn { display: inline-block; color:#fff; text-align: center; padding:0 15px; height:60px;; line-height:60px; text-decoration: none; font-size:16px; letter-spacing:-0.7px; z-index:9999999;}
.mainLnb li.last a.dropbtn {padding: 14px 0 15px 40px;}
.mainLnb li a:hover,
.mainLnb .dropdown:hover .dropbtn { color:#fffc00; font-weight:bold; #letter-spacing:-1px;}
.mainLnb li.dropdown { display: inline-block; position:relative;}
.mainLnb .dropdown-content {display:none; position: absolute; top:38px; min-width: 160px; #width:210px; padding:45px 0 10px; border:1px solid #fb444c; background:url(../images/topMenuThis.png) no-repeat center 15px; z-index:999999;}
.mainLnb .dropdown-content a {color:#2b2b2b; padding: 5px 16px; text-decoration: none; display: block; text-align: left;  font-size:14px; font-weight:bold; white-space:nowrap;}
.mainLnb .dropdown-content a:hover {color: #fb444c; text-decoration: underline;}
.mainLnb .dropdown:hover .dropdown-content { display: block; } 
.mainLnb .headMenuLs {margin:0 -3px;}

.gNav {position:absolute; right:0; top:15px; z-index:101; }




/* Container */
.container {width:980px; margin:38px auto 60px; min-height:640px; _zoom:1; position:relative;}
.container h2 {color:#2b2b2b; font-weight:900; font-size:27px;}
.container h3 {color:#2b2b2b; font-weight:bold; font-size:20px; margin-bottom:13px;}


/* layout */
.contentWrap {background:url(/images/localnavi_bg.png) repeat-x 0 0;}
.contents {width:1060px; position:relative; margin:0 auto;}


/* btn */
.btn {display:inline-block; *display:inline; *zoom:1; text-align:center; font-weight:bold;}
.btns { text-align:center; margin-top:40px; }
.btn01 {height:19px; line-height:19px; color:#666; font-size:11px; border:1px solid #bbb; padding:0 22px 0 14px; background:url(../images/blet11.png) no-repeat 91% 5px #ebebec;}
.btn02 {background:#424242; height:44px; line-height:44px; min-width:130px; *width:130px; color:#fff; font-size:15px;}
.btn03 {background:#959595; height:30px; line-height:30px; color:#fff; font-size:13px; padding:0 13px;}
.btn05 {background:#ebebec; height:30px; line-height:30px; color:#2b2b2b; font-size:13px; min-width:105px; padding:0 13px; border:1px solid #ccc; margin:0;}
.btn06 {background:#ebebec; height:40px; line-height:30px; color:#2b2b2b; font-size:13px; min-width:105px; padding:0 13px; border:1px solid #ccc; margin:0;}

.btnMiny {border:1px solid #ddd; color:#666; padding:0 5px; font-size:10px; height:17px; line-height:16px;}

.btnSmall {padding:0 21px; height:30px; line-height:30px; font-size : 13px}
.btnSmall2 {padding:0 10px; height:32px; line-height:30px; font-size:13px;}
.btnSmall3 {padding:0 17px; height:28px; line-height:28px; font-size:13px; border-radius:1px;-moz-border-radius:1px;-webkit-border-radius:1px;}

.btnMid { height:40px; line-height:40px; font-size:16px !important; }
a.btnMid { min-width:80px; *width:80px; }
button.btnMid { min-width:130px; *width:130px; }
.btnMid2 { height:44px; line-height:44px; padding:0 25px; font-size:15px; }
.btnMid3 { height:60px; line-height:60px; font-size:16px !important; }
.btnBig {width:108px; height:90px; line-height:90px; font-size:15px;}
.btnRed   {background:#fb444c; color:#fff;}
.btnBlack {background:#757380; color:#fff;}
.btnGray {background:#757380; color:#fff;}
.btnGray2 {background:#ebebec; color:#2b2b2b; border:1px solid #ccc; font-size:16px;}
.btnBlue {background:#434159; color:#fff;}


.btnWhite {background:#fff; border:1px solid #959595; color:#2b2b2b;}
.btnWhite2 {background:#fff; border:1px solid #bbb; color:#767676;}
.btnMore { margin:0 auto; border:1px solid #e1e1e1; background:#fafafa; width:898px; height:48px; line-height:48px; }
.btnLogin {width:99px; height:70px; line-height:70px; padding:0 25px; font-size:16px; }

.btn .like {padding-left:22px; background:url(/images/icon_heart.png) no-repeat left 1px;}
.like2 {padding-left:22px; background:url(/images/icon_heart.png) no-repeat left 1px;}

.page_prev {padding-right:16px; background:url(/images/icon_prev.png) no-repeat right 6px;}
.page_next {padding-right:16px; background:url(/images/icon_next.png) no-repeat right 6px;}


/* checkbox, radio */
.inp-check, .inp-radio { position:relative; display:inline-block; overflow:hidden; min-height:26px; vertical-align:middle; font-size:13px;}
.inp-check input, 
.inp-radio input { position:absolute; width:0px; height:1px; padding:0; top:3px; left:3px; z-index:-1; overflow:hidden; }
.inp-check label, 
.inp-radio label { float:left; cursor:pointer; padding-left:28px; outline:none; color:#2b2b2b; line-height:25px; }
.inp-check label .box { position:absolute; width:25px; height:25px; top:1px; left:1px; background:#fff url(../images/bg_checkbox.png) no-repeat left -24px;}
.inp-radio label .box { position:absolute; width:16px; height:18px; top:4px; left:1px; background:url(../images/bg_radio.png) no-repeat left -23px; }
.inp-radio label img {vertical-align:-1px;}
.inp-check label.on .box, 
.inp-radio label.on .box { background-position:left 1px; }
.inp-check input:focus + label .box, 
.inp-radio input:focus + label .box { outline:1px dotted #999; outline:-webkit-focus-ring-color auto 5px; }
.inp-check input[checked="checked"][disabled="disabled"] + label .box,
.inp-radio input[checked="checked"][disabled="disabled"] + label .box { background-position:left -52px; }
.inp-check input[disabled="disabled"] + label .box,
.inp-radio input[disabled="disabled"] + label .box { background-position:left -78px; }
/*.inp-radio + .inp-radio,*/
/*.inp-check + .inp-check { margin-left:20px; }*/
.inp-radio-set .inp-radio { float:left; margin-right:15px; }

/*.inp-radio label .box {top: 6px; background: url(../images/bg_radio.png) no-repeat left -25px;}*/


/* box */
.bx01 {border-top:1px solid #dedede; border-bottom:1px solid #dedede; padding:21px 25px 15px 25px; background:#f8f8f8;}
.search-box {_zoom:1; font-size:13px;}
.search-box .tit01 {display:inline-block; margin:10px 0; color:#2b2b2b; margin-right:10px;}
.search-box .tit02 {display:inline-block; width:58px; height:30px; line-height:30px; margin-left:7px; margin-left:3px  \0/IE8; margin-bottom:10px;}
.search-box .tit03 {display:inline-block; width:45px; height:30px; line-height:30px; margin-left:6px; margin-left:3px  \0/IE8; margin-bottom:10px;}
.search-box .tit04 {display:inline-block; width:55px; height:30px; line-height:30px; margin-bottom:10px;}
.search-box .flConts {}
.search-box .flContsBt {float:left; margin:0 19px 0 8px;}
.search-box .flConts2 {float:left; border-left:1px solid #dedede; padding-left:19px;}
.search-box .flConts3 {float:left; width:163px; #width:160px;}
/*.search-box .dd {vertical-align:-7px;}*/
.line-search {border-bottom:1px dotted #d2d2d2; padding-bottom:11px; margin-bottom:10px;}

.bx02 {border-top:2px solid #515151; padding:30px 8px 8px 20px; background:#f5f5f5; position:relative;}
.bx03 {border:1px solid #dedede; border-top:2px solid #515151; padding:28px 29px; background:#fff; position:relative; }

.bx04 {border:1px solid #dedede; padding:15px 4px 15px 4px; background:#f4f4f4; position:relative; text-align:left; _zoom:1; margin-bottom:20px;}
.bx04>.fl {padding:11px 0; float:left; width:157px; text-align:center; color:#f44b35;}
.bx04>.fr {padding:0 0 0 40px; float:left; font-size:12px; border-left:1px solid #dedede;}

.bx05 {padding:12px 15px; border:1px solid #dedede; min-height:60px;}

.bx06 {height:208px; padding:27px 29px; border:1px solid #dedede; overflow-y:auto; font-size:13px; color:#767676;}
.bx07 {padding:27px 29px; border:1px solid #dedede; background:#f5f5f5;}
.bx08 {border-top:2px solid #515151; padding:30px 20px 8px; background:#fafafa; position:relative;}
.bx09 {width:940px; padding:30px 18px 8px 18px; margin:0 auto; background:#fff; position:relative; -webkit-box-shadow:0 4px 4px -1px #ccc;}

.bx10 {padding:50px; border:1px solid #dedede; font-size:13px; color:#767676; line-height:22px; letter-spacing:-0.3px;}
.bx10 strong {color:#2c2c2c;}

.bx11 {border:1px solid #dedede; height:248px;}
.bx12 {height:30px; line-height:30px; border:1px solid #dedede; padding:0 10px; width:73.9%; margin-right:2px;}
.bx13 {background:#f8f8f8; padding:40px 20px 0 20px;}
.bx14 {padding:24px; border:1px solid #dedede; background:#f5f5f5;}


/* input */
input[type=text], input[type=file], input[type=password] {
/*    border: 1px solid #d4d4d4;*/
	border:0;
    outline: none;
}
input[type=text], input[type=password], input[type=file] {
    padding: 0 5px;
    height: 28px;
    line-height: 28px;
	border: 1px solid #cdcdcd;
    font-size: 12px;
    color: #333;
 	margin:0 3px 0 0;
}

input.datepicker {padding-right:28px; margin-right:6px; vertical-align:-1px; font-size:13px; line-height:normal;}
.datepickerBt {margin-left:3px;}

input.msearch {background:#fff; height: 25px; line-height: 25px; border:0; margin:0;}

input[type=text]:focus,input[type=password]:focus{border:1px solid #fb444c;}
input[type=text].msearch:focus,input[type=password].msearch:focus{border:0;}

textarea {padding:10px;}
textarea.fuTextarea {width:80%; height:46px;}

/* table */
.tableComm {border-top: 1px solid #515151; font-size: 13px; letter-spacing: -1px; margin:0 auto;}
.tableComm th {border-bottom:1px solid #dedede; background:#f5f5f5; padding:11px 0; font-weight:bold; color:#2b2b2b; line-height:18px;}
.tableComm thead th:last-child {border-right:0; }
.tableComm tbody th {text-align:left; padding-left:10px; height: 23px;} /* 웹 폰트 사용시 IE 높이값 계산 버그 height 적용 */
.tableComm td {border-bottom:1px solid #dedede; padding:11px 10px; height: 23px; line-height:21px; background-color:#fff; border-spacing:1px; z-index:1;}
.tableComm td>* {vertical-align: middle;}
.tableComm td:last-child {border-right:0;}
.tableComm tfoot td {border-top:1px solid #dedede; border-right:0;}
.tableComm td.tal {padding-left:15px;}
.tableComm tr {position:relative; z-index:0;}
.tableComm tr.notice td {background: #fff8f8; padding:8px 0;}
.tableComm tr.notice td>div.tit {padding-left: 39px;}
.tableComm tbody td span.gray {color: #959595;}
.tableComm pre {text-align:left; line-height:26px; color:#767676; font-family:"나눔 고딕", "맑은 고딕"; font-size:13px;}
.tableComm .starRadio .star {margin-right:17px;}
.tableComm .starRadio .star input[type=radio] {vertical-align:top;}
.tableComm .ellip a {display:inline-block; text-overflow:ellipsis; white-space: nowrap; word-wrap: normal; width:90%; overflow:hidden;}
.tableComm a {text-decoration:underline;}

.tableComm .mTx01 {margin-left:15px; color:#2b2b2b;}
.tableComm .mTx01 button img {vertical-align:-3px; margin-left:3px;}
.tableScoll {height:382px; overflow-y:auto;}
.tablePop1 td {font-weight:bold; color:#2b2b2b;}

.mtable1, .mtable1 td, .mtable1 th {border:0; background:none; vertical-align:top;}



.table1 {border-bottom:0;}
.table1 th {height:43px; line-height:43px; padding:0;}
.table1 thead th:first-child {background-image:none;}
.table1 td {text-align:center; padding:15px 15px 14px;}
.table1 td button {font-size:14px; letter-spacing: -1px;}
.table1 td>* {vertical-align: middle;}
.table1 td.tal {padding-left:15px;}
.table1 tr:last-child td {border-bottom:1px solid #dedede;}
.table2 {border-bottom:0;}
.table2 tr:last-child td {border-bottom:1px solid #dedede;}

.table3 {border-top:1px solid #ddd; border-bottom:0;}
.table3 th {background:none;}
.table3 tr:last-child td {border-bottom:1px solid #dedede;}
.table4 th {padding:16px 0 17px; border-right:1px solid #dedede;}
.table4 th:last-child {border-right:0;}
.table4 td {border-right:1px solid #dedede; height:105px; padding:0 20px;}
.table4 td>* {vertical-align: middle;}
.table4 td:last-child {border-right:0;}

.table5 th {padding:16px 0 17px; border-right:1px solid #dedede;}
.table5 th:last-child {border-right:0;}
.table5 td {border-right:1px solid #dedede;  padding:15px; color:#767676;}
.table5 td>* {vertical-align: middle;}
.table5 td:last-child {border-right:0;}
.table5 td:last-child.line {border-right:1px solid #dedede;}

.table6 {width:100%;}
.table6 th, .table6 td {background:#f5f5f5;}
.table7 th:first-child, .table7 td:first-child {padding-top:15px;}
.table7 th, .table7 td {padding: 3px 16px;}
.table7 tr:last-child td {padding-bottom:15px;}

.table8 {border-bottom:1px solid #dedede; font-size:13px;}
.table8 tr th, .table8 tr td {border-bottom:0; padding:5px 20px;}
.table8 tr:first-child th, .table8 tr:first-child td {padding:15px 20px 5px;}
.table8 tr:last-child th, .table8 tr:last-child td {padding:5px 20px 15px;}

.tableList1 {border-top: 1px solid #2b2b2b; border-bottom: 1px solid #2b2b2b; font-size: 13px; color: #333; letter-spacing: -1px;}
.tableList1 th {border-bottom:1px solid #ddd; padding:18px 0; color:#959595; font-weight:normal; }
.tableList1 thead th:last-child {border-right:0;}
.tableList1 tbody th {text-align:left; padding-left:22px;}
.tableList1 td {border-bottom:1px solid #dedede; padding:11px 16px; line-height:21px; background-color:#fff; border-spacing:1px;}
.tableList1 td:last-child {border-right:0;}
.tableList1 tr:last-child td {border-bottom:0;}
.tableList1 tfoot td {border-top:1px solid #ddd; border-right:0;}
.tableList1 td.tal {text-align:left; padding-left:15px;}
.tableList1 td>* {vertical-align: middle;}

.tableType1 {border-top: 2px solid #515151; font-size:13px;}
.tableType1 th {line-height:16px;} 
.tableType1 td {color:#2b2b2b; padding:5px; min-height:35px; line-height:18px;}
.tableType1 td.thin {font-weight:normal; font-size:12px;}
.tableType1 td a:hover {text-decoration:underline;}

.listinfo {overflow:hidden; _zoom:1; margin-bottom:9px;}
.listinfo .count {float:left; color:#2b2b2b;}
.listinfo h3.count {margin:0;}
.listinfo .sort {float:right;}
.listinfo .sort button {margin:0 5px; color:#8c8c8c;}
.listinfo .sort button.on {color:#2b2b2b;}


/* tab */
.tab1 {width:980px; margin:0 auto; height:63px;}
.tab1 li { float:left;  height:63px;}
.tab1.col2 li { width:50%;}
.tab1.col3 li { width:33.3333333333%; }
.tab1.col4 li { width:25%; }
.tab1.col5 li { width:20%; }
.tab1 a, 
.tab1 button { display:block; text-align:center; height:56px; line-height:56px; color:#8D8D8D; font-size:18px; background:#f4f4f4;}
.tab1 li.on {background:url(../images/tab_bg.png) no-repeat center 56px;}
.tab1 li.on a, 
.tab1 li.on button,
.tab1 li a:hover, 
.tab1 li button:hover { height:56px; line-height:56px; color:#fff; font-weight:bold; background:#515151;}
.tab1 li.on + li a,
.tab1 li.on + li button { border-left:0px; }

.detailTab {background:#fff; height:44px; border-bottom:2px solid #515151; }
.detailTab li {float:left; height:44px; line-height:44px; text-align:center; font-weight:bold; color:#333; font-size:14px; border-bottom:2px solid #515151; }
.detailTab li button {height:44px; width:100%; line-height:44px; font-weight:bold; color:#333; font-size:14px; border-top:1px solid #b8b7b3; border-right:1px solid #b8b7b3;}
.detailTab li:first-child button {border-left:1px solid #b8b7b3;}
.detailTab li.on button {background:#fff; height:46px; line-height:44px; border-top:2px solid #515151; border-left:2px solid #515151; border-right:2px solid #515151;}

.detailTab li a {display:block; height:44px; line-height:42px; font-weight:bold; color:#333; font-size:14px; border-top:1px solid #b8b7b3; border-right:1px solid #b8b7b3;}
.detailTab li:first-child a {border-left:1px solid #b8b7b3;}
.detailTab li.on a {background:url(../images/blet10.png) no-repeat 88% 20px #fff; height:44px; line-height:44px; border-top:2px solid #515151; border-left:2px solid #515151; border-right:2px solid #515151;}



.detailTab.detailTab2 {height:58px;}
.detailTab.detailTab2 li {height:58px; line-height:58px; font-size:16px;}
.detailTab.detailTab2 li button {height:58px; line-height:58px; width:276px; font-size:16px;}
.detailTab.detailTab2 li.on button {height:60px; line-height:58px; width:276px; font-size:16px;}

.detailTabConents>li {margin-top:28px; overflow:hidden; _zoom:1;}

.detailTab_fix {background:#f4f4f4; height:44px; border-bottom:2px solid #515151; margin-bottom:20px;}
.detailTab_fix li {float:left; height:44px; line-height:44px; text-align:center; font-weight:bold; color:#333; font-size:14px; border-bottom:2px solid #515151; }
.detailTab_fix li a {display:inline-block; height:44px; width:200px; line-height:44px; font-weight:bold; color:#333; font-size:14px;}
.detailTab_fix li.on a {background:#fff; width:200px; height:44px; line-height:44px; border-top:2px solid #515151; border-left:2px solid #515151; border-right:2px solid #515151;}









/* popup */
.popup1 .popHeader { position:relative; padding:0 28px; height:71px; line-height:71px; background:#fb444c; }
.popup1 .popHeader h1 { font-size:24px; color:#fff; }
.popup1 .popHeader .to-close { position:absolute; top:14px; right:22px; width:43px; height:44px; line-height:44px;}

.popup1 .popContentWrap { margin:40px 30px; }
.popup1 .popContentWrap.type2 { margin:0; }
.popup1 .popFooter {}
.popup1 .popFooter p { text-align:center; color:12px; color:#c2c2c2; }
.popup1 .bx03 { width:auto; }

/* layerpop */
.layerpop { display:none; z-index:9000; position:fixed; top:0; left:0; width:100%; height:100%; }
.layerpop.on { display:block; }
.layerpopBg { position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); }
.layerpopBody { position:absolute; top:50%; left:50%; background:#fff; }
.layerpopBody .w900,
.layerpopBody .tableComm { width:100%; }
.layerpopHeader { position:relative; padding:21px 30px; min-height:24px; background:#e51f2e; }
.layerpopHeader h2 { font-size:24px; color:#fff; }
.layerpopHeader .to-close { position:absolute; top:0; right:0; width:70px; height:70px; }
.layerpopContents { padding:40px 25px; }


/* paging */
.paging {position:relative; font-size:12px; margin:30px 0 40px; padding-bottom:8px; text-align:center; color:#767676;}
.paging span button {display:inline-block; margin:0 1px; text-align:center; width:16px; height:19px; line-height:19px; color:#666; }
.paging span button.this, 
.paging span button:hover {font-weight:bold;}
.paging span {margin:0 10px;}
.paging button img {vertical-align:-5px;}


/* select box */


/* select box new */
.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default; font-size:12px;}
.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */
color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline; }

img.fnone{float:none !important}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:0; right:1px;}
.ddcommon .ddArrow:hover{background-position:0 100%;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%; }
.ddcommon .ddTitle .ddTitleText{display:block; background: #fff; padding: 0 0 0 7px; text-indent: 0; cursor: default; overflow: hidden; height: 28px; }
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}


/*************** default theme **********************/
.dd {border:1px solid #ccc; height:28px; text-align:left; vertical-align:-10px; #vertical-align:6px;}
.headerSearch .dd {border:0; height:25px; text-align:left; margin-right:6px; vertical-align:-9px; vertical-align:-8px  \0/IE9; #vertical-align:6px;}
.dd .ddArrow{width:32px; height:28px; background:url(../images/select_bg.png) no-repeat 0 0;}
.headerSearch .dd .ddArrow{height:25px; background:url(../images/select_bg.png) no-repeat 0 0;}
.dd .ddArrow:hover{background-position:0 -25px;}
.headerSearch .ddcommon .ddTitle .ddTitleText {height: 25px; }
.dd .ddTitle .ddTitleText {text-indent: 1px; overflow: hidden; line-height: 28px; text-align:left; color:#2c2c2c;}
.headerSearch .dd .ddTitle .ddTitleText {line-height: 25px;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding-right:5px;}
.dd .ddChild {border:1px solid #ccc; left:-1px; background-color:#fff;}
.headerSearch .dd .ddChild {border:0; left:0;}
.dd .ddChild li {padding: 6px 0 7px 7px; background-color:#fff;}
.dd .ddChild li .description {color:#666;}
.dd .ddChild li .ddlabel{color:#333;}
.dd .ddChild li.hover .ddlabel, .dd .ddChild li.selected .ddlabel {color:#333;}
.dd .ddChild li.hover {background-color: #f0f0f0;}

.dd .ddChild li img{padding:0 6px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background-color:#f0f0f0; color:#333;}


/* Tab */

.btnTab {overflow:hidden; _zoom:1; margin-bottom:15px;}
.btnTab li {float:left; width:116.37px; border-right:1px solid #dedede; border-top:1px solid #dedede; border-bottom:1px solid #dedede;}
.btnTab li:first-child {border-left:1px solid #dedede;}
.btnTab button {display:block; width:100%; height:38px; line-height:38px; font-size:13px; color:#2c2c2c; text-align:center; background:#fff;}
.btnTab button:hover, .btnTab button.on { background:#f85656; font-weight:bold; color:#fff;}


/* faq */
.faq {color:#2b2b2b; font-size:12px;}
.faqCount {margin-bottom:-33px; padding-top:30px;}
.list-toggle-faq { border-top:1px solid #ccc; clear:both;}
.list-toggle-faq li { border-bottom:1px solid #ccc; clear:both; position:relative;}
.list-toggle-faq li.on .list-group {font-size:0;}
.list-toggle-faq li.on dt {background:url(../images/line03.png) repeat-x 0 bottom #f5f5f5;}
.list-toggle-faq li.on button {padding:20px 0 20px 85px; font-weight:bold; background:url(../images/blet_faq_Q.png) no-repeat 31px 17px;}
.list-toggle-faq.custCenterFaq li.on button span.b01 {width:640px;}
.list-toggle-faq.custCenterFaq li.on button span.b02 {display:none;}
.list-toggle-faq button { display:block; width:100%; padding:16px 0 16px 85px; text-align:left; color:#333; line-height:20px; }
.list-toggle-faq button span {display:inline-block; float:left;}
.list-toggle-faq button span.b01 {width:410px; padding-left:5px;}
.list-toggle-faq button span.b02 {width:135px; text-align:center;}

.list-toggle-faq dd { display:none; padding:21px 14px 21px 90px; background:url(../images/blet_faq_A.png) no-repeat 30px 17px #f5f5f5; color:#2c2c2c; line-height:22px;}
.list-toggle-faq li.on dd { display:block;}
.list-toggle-faq li .list-group {position:absolute; left:0; top:0; width:85px; height:53px; line-height:53px; text-align:center;}




/* 공통 layout */
.lnb { float:left; width:175px; margin-right:35px; }
.lnb h2 { margin-bottom:17px; padding:20px 10px 18px 21px; font-size:22px; line-height:26px; background:#515151; color:#fff; }
.lnb li { border-bottom:1px solid #dedede; }
.lnb a { display:block; padding:13px 5px 13px 25px; font-size:13px; line-height:15px; color:#2c2c2c; }
.lnb li.on a { color:#f44b35; background:url(../images/blet06.gif) no-repeat 13px 50%; font-weight:bold; }

.sub-cnt { display:block; width:770px; padding-top:27px; overflow:hidden; } 
.cnt-area { margin-bottom:40px; }
.btns { margin:10px 0; }

.tr { text-align:right; }
.tl { text-align:left; }

.cnt-area + .btns { margin-top:-20px; }


/* 테이블 설정 추가 */

td.tl { text-align:left; }
td.tr { text-align:right; }
td.gray, td.gray a { color:#767676; }

.tbl-fnt12 th { font-size:13px; }
.tbl-fnt12 td { font-size:12px; }

.btn-inTable { min-width:44px; margin-left:10px; padding:5px 8px; font-size:11px; line-height:13px; border-radius:2px; color:#fff; background:#8b8b8b; }
.btn-inTable.btn-org { background:#ec750a; }
.btn-inTable.btn-blue { background:#547ccd; }
.btn-inTable.btn-red { background:#e14040; }
.btn-inTable.btn-gray { background:#686868; }
.btn-inTable.btn-outline { padding:4px 7px; background:#fff; color:#767676; border:1px solid #bbb; }

.table6 { border-bottom:1px solid #dedede; font-size:13px; line-height:1.2em; }
.table6 th, .table6 td { border-bottom:none; }
.table6 tbody th, .table6 th { padding-left:30px; text-align:left; vertical-align:top; }
.table6 td { padding-left:30px; background:#fff;  vertical-align:top;}
.table6 th.vt { padding-top:16px; vertical-align:top; }
.table6 td .desc { font-size:12px; color:#959595; }
.table6 tbody tr:first-child th, .table6 tbody tr:first-child td { padding-top:20px; }
.table6 tfoot th { padding:18px 0 18px 30px; background:#dedede; font-size:16px; color:#2c2c2c; font-weight:bold; }
.table6 tfoot th.vt { padding-top:22px; }
.table6 tfoot td { padding:18px 0 18px 30px; background:#fef7f6; border-top:none; }
.table6 .price { margin-right:10px; font-size:16px; color:#f44b35; }
.table6 .price-desc { font-size:13px; color:#f44b35; font-weight:bold; }
.table6 .tr-nopt td { padding-top:3px; }
.table6 .tr-nopt th { padding-top:5px; font-weight:bold; }
.table6 .topline td, .table6 .topline th { border-top:1px solid #dedede; }

.td-inset { display:block; clear:both; }
.td-inset::after { content:''; display:block; clear:both; }
.td-inset .tit { float:left; margin-right:25px; line-height:26px; }
.td-inset .cnt { display:block; }


/* 레이어팝업 */
.layer-pop { position:absolute; display:none; width:100%; height:100%; top:0; left:0; }
.layer-cnt { position:absolute; box-shadow:0 0 3px #aaa; }
#layer-resNum .layer-cnt { width:300px; top:360px; left:50%; margin-left:-50px;}
.layer-top { padding:13px 20px; background:#f85656; color:#fff; }
.layer-top .tit { font-size:18px; line-height:1.2em; }
.layer-mid { padding:20px; border:1px solid #e0e0e0; border-top:none; background:#fff;  }
.layer-pop .btn-close { position:absolute; width:18px; height:18px; top:15px; right:15px; text-indent:-10000px; background:url(../images/icon_close.png) no-repeat center 50%; }

.resNum { padding:15px 0; font-size:24px; font-weight:bold; color:#2c2c2c; text-align:center; }




/* 등록 파일 css */
.file a {padding:0 0 0 19px; margin:7px 4px 0 2px; display:inline-block; height:16px; line-height:16px; color:#232323; font-size:12px; width:auto;}
.file a.etc {background:url(../images/etc.png) no-repeat left top;}
.file a.doc {background:url(../images/doc.png) no-repeat left top;}
.file a.xls {background:url(../images/xls.png) no-repeat left top;}
.file a.ppt {background:url(../images/ppt.png) no-repeat left top;}
.file a.jpg {background:url(../images/jpg.png) no-repeat left top;}
.file a.gif {background:url(../images/gif.png) no-repeat left top;}
.file a.png {background:url(../images/png.png) no-repeat left top;}
.file a.zip {background:url(../images/zip.png) no-repeat left top;}
.file a.html {background:url(../images/html.png) no-repeat left top;}
.file a.pdf {background:url(../images/pdf.png) no-repeat left top;}
.file button {margin-right:15px;}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.filebox label {
  display: inline-block;
    text-align: center;
    font-weight: bold;
    background: #ebebec;
    height: 28px;
    line-height: 28px;
    color: #2b2b2b;
    font-size: 13px;
    min-width: 105px;
    padding: 0 13px;
    border: 1px solid #ccc;
    margin: 0;
	cursor:pointer;
}

/* named upload */
.filebox .upload-name {
  display: inline-block;
  padding: 0 13px;  /* label의 패딩값과 일치 */
    vertical-align: 0;
    height: 28px;
    line-height: 28px;
    border: 1px solid #cdcdcd;
    font-size: 12px;
    color: #333;
    margin: 0 3px 0 0;
    background: #fff;
	width:61%;
}
.filebox.loading .upload-name {background:url(../images/dots64.gif) no-repeat right 6px #fff;}
.filebox .upload-name.full {width:72.7%; #width:72.5%; #vertical-align:-7px;}




/* admin */
.admin {color:#2b2b2b;}
.admin .tit01 {padding:0 10px 0 8px; background:url(../images/blet01.png) no-repeat left 5px;}
.admin .tit02 {padding-left:8px; width:102px; background:url(../images/blet01.png) no-repeat left 5px; display:inline-block;}
.admin .tit03 {padding-left:8px; width:102px; background:url(../images/blet01.png) no-repeat left 7px; display:inline-block; font-size:16px; text-align:left;}
.admin .tit04 {padding-left:8px; width:197px; background:url(../images/blet01.png) no-repeat left 5px; display:inline-block; text-align:left;}
.admin .tit05 {padding-left:8px; width:100px; background:url(../images/blet01.png) no-repeat left 5px; display:inline-block; font-size:14px; text-align:left; letter-spacing:-1px;}
.admin .tx01 {font-size:16px;}
.admin .tx01 .div {margin:0 20px;}
.admList {min-height:20px;}
.admList01>li {display:inline-block; width:49%; margin:8px 0;}
.admList02>li {display:inline-block; width:33%; margin:8px 0;}
.admList>li.div {border-right:1px solid #ccc;}

.admin .layer {}
.admin .admTh {background:#dedede;}
.admin .admTh.line {border-bottom:1px solid #f5f5f5;}
.admin .admNotice {border-top:1px solid #dedede; margin-top:60px; padding:40px 0 0 190px; font-weight:bold;}
.admin .admNotice .tit {padding-left:19px; background:url(../images/icon_notice.png) no-repeat left top; margin-bottom:12px;}
.admin .admNotice ul li {line-height:22px;}
.admin .layerp {position:absolute; background:#fff; border:1px solid #dedede; padding:25px 15px; margin:33px 0 0 -5%; width:47.4%; display:none;}
.admin .adminH2 {margin:0 10px; font-weight:100; font-family:dotum;}
.admin .adminDetail {padding:15px;}
.admin .adminDetail .layer1 {margin:5px 0; border-right: 1px solid #ccc; margin-left:10%; display:inline-block; width:39%;}
.admin .adminDetail .layer2 {margin:5px 0; margin-left:5%; display:inline-block; width:44%; vertical-align:20px;}

.admin .adminHalf {overflow:hidden; _zoom:1;}
.admin .adminHalf .fl {float:left; width:50%; margin-right:1%}
.admin .adminHalf .fr {float:right; width:49%;}
.admin .closeBtn {position:absolute; top:5px; right:5px;}




/* common */
.red {color:#f44b35 !important;}
.pink {color:#f44b35 !important;}
.black {color:#2b2b2b !important;}
.gray {color:#767676 !important;}
.fwn {font-weight:normal !important;}

.mt-20 {margin-top:-30px;}
.mt4 {margin-top:4px !important;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt37 {margin-top:37px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}

.mb5 {margin-bottom:5px !important;}
.mb8 {margin-bottom:8px !important;}
.mb10 {margin-bottom:10px !important;}
.mb13 {margin-bottom:13px !important;}
.mb15 {margin-bottom:15px !important;}
.mb16 {margin-bottom:16px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb37 {margin-bottom:37px !important;}
.mb40 {margin-bottom:40px !important;}
.mb47 {margin-bottom:47px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}
.mb70 {margin-bottom:70px !important;}
.mb95 {margin-bottom:95px !important;}

.ml0 {margin-left:0 !important;}
.ml-8 {margin-left:-8px;}
.ml2 {margin-left:2px !important;}
.ml5 {margin-left:5px !important;}
.ml7 {margin-left:7px !important;}
.ml10 {margin-left:10px !important;}
.ml12 {margin-left:12px !important;}
.ml15 {margin-left:15px !important;}
.ml16 {margin-left:16px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}

.mr0 {margin-right:0 !important;}
.mr10 {margin-right:10px !important;}
.mr20 {margin-right:20px !important;}
.mr30 {margin-right:30px !important;}
.mr40 {margin-right:40px !important;}
.mr50 {margin-right:50px !important;}
.mr60 {margin-right:60px !important;}

.pt10 {padding-top:10px;}
.pt25 {padding-top:25px;}
.pl16 {padding-left:16px !important;}

.w320 {display:inline-block; width:320px;}

.lh20 {line-height:20px;}

.ls-1 {letter-spacing:-1px;}

.tac {text-align:center !important;}
.tar {text-align:right !important;}
.tal {text-align:left !important;}


.floatl {float:left;}
.floatr {float:right;}
.clearb {clear:both;}
.dpblock {display:block !important;}
.dpinblock {display:inline-block;}

.more {position:absolute; right:25px; top:40px; display:inline-block; background:url(../images/blet03.png) no-repeat right 4px; padding-right:10px;}
.gab {margin:0 4px;}

.va8 {vertical-align:8px;}






/* min-width 1200px */
@media all and (min-width:1200px) {

	/* layout */
	.container {width:1180px;}
	.head {width:1180px;}
	.filebox .upload-name {width:68.5%; width:69% \0/IE11;}
	.filebox .upload-name.full {width:78.5%;}
	.w320 {width:50%}
	textarea.fuTextarea {width:83.9%;}
	.bx12 {width:79.6%;}
	.haMovie .fr {width:440px;}
	.knowChen .siteTx .tx1 {width:741px;}
	.mainWrap .mainBody .tbList {width:700px;}
	.mainWrap .mainBody {width:700px;}
	.mainWrap .mainBody .tbList th a {width:545px;}
	.mainPicList li:last-child {display:block; margin:0 0 0 12px;}
	.admin .layerp {width:48.1%;}
}
